<header class="navbar">
  <div class="logo">DentisApp</div>

  <nav class="header-selection" [class.hide]="menuOpen">
    <ul>
      <li><a routerLink="/who-we-are" class="quienes-somos-header">¿Quiénes somos?</a></li>
      <li><a routerLink="/plans" class="planes-header">Planes</a></li>
      <li><a routerLink="/contact" class="contacto-header">Contacto</a></li>
      <li><a routerLink="/login" class="iniciar-sesion-header">Iniciar sesión</a></li>
      <!-- <li><a class="iniciar-sesion-header" (click)="logout()">Cerrar sesión</a></li> -->
    </ul>
  </nav>

  <button class="hamburger" (click)="toggleMenu()">
    &#9776; <!-- ícono hamburguesa -->
  </button>

  <div class="menu" [class.active]="menuOpen">
    <ul>
      <li><a routerLink="/who-we-are" (click)="toggleMenu()">¿Quiénes somos?</a></li>
      <li><a routerLink="/plans" (click)="toggleMenu()">Planes</a></li>
      <li><a routerLink="/contact" (click)="toggleMenu()">Contacto</a></li>
      <li><a routerLink="/login" (click)="toggleMenu()">Iniciar sesión</a></li>
      <!-- <li><a (click)="logout(); toggleMenu()">Cerrar sesión</a></li> -->
    </ul>
  </div>
</header>