body {
    font-size: 1.4rem;        
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    background-color: #f3e8e1;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__left .logo-site {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar__center {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 8rem;
    margin: 0;
    padding: 0;
} 

.menu-link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    padding: 0.3rem 0.6rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 27rem;
    height: 2rem;
}

.search-input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    flex: 1;
    min-width: 200px;
}

.search-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: gray;
}

.left-rigth {
    display: flex;
    gap: 4rem;
    flex: 1 0 auto;
    width: 100%;
}

.aside-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #e9dcd2;
    width: 25%;
    min-width: 300px;
}

.aside-bar h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: justify;
    margin-left: 1rem;
}

.aside-bar h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: justify;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.aside-bar p {
    margin: 1rem;
    align-self: center;
    font-size: 1rem;
}

.configuration {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: transparent;
    padding: 1rem 0;
    list-style: none;
    align-items: center; 
}

.configuration a {
    display: block;
    padding: 0.6rem 1.2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    text-align: center;
    transition: all 0.2s ease;
    font-weight: 500;
    width: 9.3rem; 
    max-width: 90%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.configuration a:hover {
    background-color: gray;
    color: white;
    border-color: gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    flex: 1 0 auto;
    width: 100%; 
    box-sizing: border-box;
}

.table-patiente {
    display: flex;
    justify-self: center;
    width: 100%;
    margin-left: 5rem;
}
table {
    width: 100%; 
    border-collapse: collapse;
    margin: 2rem 0; 
    background-color: #fff; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    overflow: hidden; 
    min-width: 900px;
    max-width: 100%;
    justify-self: center;

}

th, td {
    padding: 1.2rem; 
    text-align: left;
    border-bottom: 1px solid #e0e0e0; 
    white-space: nowrap;
    font-size: 1rem;
}

thead {
    background-color: #f3e8e1;
}

tbody tr:hover {
    background-color: #f9f9f9;
}
footer {
    flex-shrink: 0; 
    background-color: black;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.perfil {
    width: 40px;
    height: 40px;
}

.notificaciones {
    width: 37px;
    height: 37px;
    margin-right: 1rem;
}

.logos-aside {
    width: 1.5rem;
    height: 1.5rem;
}
.aside-tiles {
    display: flex;
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    padding: 0rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.aside-tiles:hover {
    background-color: #999999;
    border-radius: 10px;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.aside-tiles.active {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    padding: 0.5rem;
}

.logos-aside {
    width: 2rem;
    height: 2rem;
    align-self: center;
    margin-right: 0.5rem;
}

.aside-tiles.active .logos-aside path {
    fill: white;
}

.background-table {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    max-width: 60%;
}
.estado {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    min-width: 80px;
}

.asistio {
    background-color: #28a745;
    color: white;
    width: 6.5rem;
}

.pendiente {
    background-color: #f0ad4e;
    color: white;
    width: 6.5rem;
}

.cancelada {
    background-color: #d9534f;
    color: white;
    width: 6.5rem;
}

.atender-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem; 
    border-radius: 20px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-weight: 500;
    width: 7rem;
    height: 2.5rem;
}

.atender-btn:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.atender-btn i {
    font-size: 0.9rem;
    transition: transform 0.3s ease; 
}

.atender-btn:hover i {
    transform: translateX(5px); 
}